<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-11">
        {{#liquid-if enableEditAgent class="customer-info"  }}

                  <div class="row row-margin">

                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Name</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent Name" value=name}}</div>
                  </div>

                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact Name</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent contact name" value=contactname}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact No.</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent contact No" value=contactno}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact No.</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=othcontactno}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Reference Details</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=othrefdetails}}</div>
                  </div>

  {{else}}

                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels ">Agent Name</label> </div>
                          <div class="col-md-8 col-xs-12"><label for="" class="labels">{{agent.name}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact Name</label></div>
                          <div class="col-md-8 col-xs-12"><label class="labels" for="">{{agent.contactname}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact No.</label></div>
                          <div class="col-md-8 col-xs-12"><label class="labels" for="">{{agent.contactno}}</label></div>

                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact Number</label></div>
                          <div class="col-md-8 col-xs-12"><label class="labels" for=""> {{agent.othcontactno}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact No.</label></div>
                          <div class="col-md-8 col-xs-12"><label class="labels" for=""> {{agent.othrefdetails}}</label></div>
                  </div>


                {{/liquid-if}}
        </div>
        <div class="col-md-1 "style="padding-top:10px">
                {{#if enableEditAgent }}
                <button type="button" class="btn btn-default pull-right"  {{action "editAgent"}} >
                        <span class="glyphicon glyphicon-floppy-save "></span>
                </button>
                {{else}}
                <button type="button" class="btn btn-default pull-right"  {{action "editAgent"}} >
                        <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <br><br>
                <button type="button" class="btn btn-default pull-right"  {{action "deleteData"}} >
                        <span class="glyphicon glyphicon-trash"></span>
                </button>
                {{/if}}


        </div>

</div>
</div>
{{yield}}
