<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-11">
        {{#liquid-if enableEditCustomer class="customer-info"  }}



                  <div class="row row-margin">

                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Client Name</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Client Name" value=custcomp.name}}</div>
                  </div>

                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Client Contact Name</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Client contact name" value=custcomp.contactname}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Client Contact No.</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Client contact No" value=custcomp.contactno}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact No.</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=custcomp.othcontactno}}</div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Reference Details</label></div>
                          <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=custcomp.othrefdetails}}</div>
                  </div>

  {{else}}

                  <div class="row row-margin">

                          <div class="col-md-4 col-xs-12"><label for="" class=" ">Client Name</label> </div>
                          <div class="col-md-8 col-xs-12"><label for="" class="labels">{{custcomp.name}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Client Contact Name</label></div>
                          <div class="col-md-8 col-xs-12"><label class="" for="">{{custcomp.contactname}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Client Contact No.</label></div>
                          <div class="col-md-8 col-xs-12"><label class="" for="">{{custcomp.contactno}}</label></div>


                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact Number</label></div>

                          <div class="col-md-8 col-xs-12"><label class="" for=""> {{custcomp.othcontactno}}</label></div>
                  </div>
                  <div class="row row-margin">
                          <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact No.</label></div>
                          <div class="col-md-8 col-xs-12"><label class="" for=""> {{custcomp.othrefdetails}}</label></div>

                  </div>


                {{/liquid-if}}
        </div>
        <div class="col-md-1 "style="padding-top:10px">
                {{#if enableEditCustomer }}
                <button type="button" class="btn btn-default pull-right"  {{action "editCustomer"}} >
                        <span class="glyphicon glyphicon-floppy-save "></span>
                </button>
                {{else}}
                <button type="button" class="btn btn-default pull-right"  {{action "editCustomer"}} >
                        <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <br><br>
                <button type="button" class="btn btn-default pull-right"  {{action "deleteData"}} >
                        <span class="glyphicon glyphicon-trash"></span>
                </button>
                {{/if}}


        </div>

</div>
</div>
{{yield}}
