
From TEST COMPONENT

<button {{action "alertRating" testrating}}>{{yield}}</button>
<button {{action "alertRatingWithText" testrating}}> Alert with text</button>
<button {{action "alertRatingWithText2" testrating}}> Alert with text2</button>
<button {{action "alertWithClick" testrating}}> Alert with Click</button>
