
<div class="container-fluid">
  <div class="row row-margin">


    <div class="col-md-10">
      <div class="row row-margin">
        {{paper-input label="Agent Name" required=true value=model.name icon="person"  required-errortext="Agent name is required."}}
      </div>
      <div class="row row-margin">
        {{paper-input label="Agent contact Name"  value=model.contactname icon="person"}}
      </div>
      <div class="row row-margin">
        {{paper-input label="Agent contact number"  value=model.contactno icon="phone"}}
      </div>
      <div class="row row-margin">
        {{paper-input label="Other contact number"  value=model.othcontactno icon="phone"}}
      </div>
      <div class="row row-margin">
        {{paper-input label="Other reference details"  value=model.othrefdetails icon="place"}}
      </div>
    </div>
    <div class="col-md-2" >
      {{#paper-button primary=true   raised=true disabled=isEditAgentButtonDisabled   action="editAgent"}}
      {{paper-icon icon="save"}}
      {{/paper-button}}
    </div>


  </div>
</div>
{{yield}}



{{outlet}}
