
<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-11">


      <div class="row row-margin">

        <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Name</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent Name" value=model.name}}</div>
      </div>

      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact Name</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent contact name" value=model.contactname}}</div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Agent Contact No.</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Agent contact No" value=model.contactno}}</div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Contact No.</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=model.othcontactno}}</div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Other Reference Details</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Other Contact No" value=model.othrefdetails}}</div>
      </div>


    </div>
    <div class="col-md-1 "style="padding-top:10px">

      <button type="button" class="btn btn-default pull-right"  {{action "editAgent"}} >
        <span class="glyphicon glyphicon-floppy-save "></span>
      </button>
    </div>

  </div>
</div>
{{yield}}



{{outlet}}
