<div class="col-md-4">
  <div class="list-group">

    <div class="list-group-item">
        {{paper-input label="Search Project" value=searchTerm icon="search"}}
    </div>


    {{#each matchingProjects as |project|}}
    {{#link-to "projects.project.enquiry-form" project class="list-group-item "}}
    {{project.name}}
    <span class="pointer glyphicon"></span>
    {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    <div class=" col-md-8 well-sm  ">
            <h3> Create New Project </h3>
            <table class="table">
                    <tr>
                            <td>{{paper-input label="Project Name" required=true value=name icon="description"  required-errortext="Project Name is required."}}</td>
                    </tr>
                    <tr>
                      {{paper-button  primary=true raised=true disabled=isCreateProjectButtonDisabled  action="createProject" label="Create Project"}}
                    </tr>
            </table>



    </div>
    {{liquid-outlet}}
  </div>
</div>
