
<div class="col-md-4">

  {{#paper-card}}
  {{#paper-card-content }}
  {{paper-input  label="Search Agent" value=searchTerm icon="search"}}
  {{#paper-list}}
    {{#each matchingAgents as |agent|}}
      {{#paper-item class="md-3-line"}}
      {{paper-icon primary=true raised=true icon="person"}}
        <div class="md-list-item-text">
          {{#link-to "dashboard.agents.agent" agent class="list-group-item "}}
          {{agent.name}}
          {{/link-to}}
        </div>
      {{/paper-item}}
       {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-card-content}}
{{/paper-card}}

</div>


<div class="col-md-8">

  {{#paper-card}}
    {{#paper-card-content}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-card}}

</div>
