<div class="col-md-4">

  {{#paper-card}}
  {{#paper-card-content }}
  {{paper-input  label="Search Customer" value=searchTerm icon="search"}}
  {{#paper-list}}
    {{#each matchingCustomers as |customer|}}
      {{#paper-item class="md-3-line"}}
      {{paper-icon primary=true raised=true icon="person"}}
        <div class="md-list-item-text">
          {{#link-to "dashboard.customers.customer" customer class="list-group-item"}}
          {{customer.name}}
          {{/link-to}}
        </div>
      {{/paper-item}}
       {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-card-content}}
{{/paper-card}}
</div>
<div class="col-md-8">
  {{#paper-card}}
    {{#paper-card-content}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-card}}
</div>
