projects/project(slug)/enquiry-form page
<div class="col-md-8"><h3>
  {{input type="text" class="form-control "  placeholder="Project Name" value=project.name}}
</h3></div>
<div class="col-md-4">
  <button type="button" class="btn btn-default "  {{action "saveProject"}} >
    <span class="glyphicon glyphicon-floppy-save"></span>
  </button>
</div>
<form>
  <div class="col-md-8">
    <h1>{{project.customer.name}}</h1>
    <div class="row row-margin">
      <div class="col-md-2">
        <label for="" class="labels">Customer</label>
      </div>
      <div class="col-md-9">
        {{ember-select-guru value=project.customer  options=customers onSelect=(action "onSelectCustomer") }}
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-default pull-right"  {{action "openCustomerComponent"}} >
          <span class="glyphicon {{if showCustomerComponent "glyphicon-minus" "glyphicon-plus"}} "></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div id="liquid-spacer-demo">
        <div class="col-md-10 pull-right " style="">
          {{#liquid-spacer growDuration=250}}
          {{#if showCustomerComponent}}
          {{customer-form  type='ind'  on-create=(action "createCustomer")}}
          {{/if}}
          {{/liquid-spacer}}
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-md-2">
        <label for="" class="labels">Agent</label>
      </div>
      <div class="col-md-9">
        {{ember-select-guru value=project.agent  options=agents onSelect=(action "onSelectAgent") }}
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-default pull-right"  {{action "openAgentComponent"}} >
          <span class="glyphicon {{if showAgentComponent "glyphicon-minus" "glyphicon-plus"}} "></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div id="liquid-spacer-demo">
        <div class="col-md-10 pull-right " style="">
          {{#liquid-spacer growDuration=250}}
          {{#if showAgentComponent}}
          {{agent-form  type='ind'  on-create=(action "createAgent")}}
          {{/if}}
          {{/liquid-spacer}}
        </div>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-md-2">
        <label for="" class="labels">Enquiry Date</label>
      </div>
      <div class="col-md-10">
        {{bootstrap-datepicker value=project.enquiries.lastObject.date class="form-control" autoclose=true placeholder="Enquiry Date" format="dd MM, yyyy"}}        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-2">
          <label for="" class="labels">Enquiry No.</label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control"  placeholder="Enquiry No.">
        </div>
      </div>


<!-- //FIXME :    Site location variable not showing value -->


<div class="col-md-12  well well-lg">
  {{ember-select-guru value=project.itemtype  options=itemtypes onSelect=(action "onSelectItemtypes") }}
</div>
 </div>
</form>
{{outlet}}
