

projects/project(slug)/Job Details


<div class="col-md-12 row">
  <button type="button" class="btn btn-default pull-right"  {{action "saveJobdetails"}} >
    <span class="glyphicon glyphicon-floppy-save"></span>
  </button>
</div>

<br><br><br><br>

{{#each project.items as |item index|}}

<div class=" well">
  <div class="row">
    <div class="col-md-6 border">
      <h3>Item : {{incrementone index}}</h3>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Site Survey Details</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Site Survey Details" value=item.surveydetails}}</div>
      </div>

      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Technique to Install</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Technique to Install" value=item.technique}}
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Material Requierd</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control "  placeholder="Material Requierd" value=item.material}}
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Team Allotment</label></div>
        <div class="col-md-8 col-xs-12">{{input type="text" class="form-control"  placeholder="Team Allotment" value=item.team}}
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label for="" class="labels">Upload Picture</label></div>
        <div class="col-md-8 col-xs-12">{{file-upload item=item siteimages=item.siteimages    on-upload=(action "uploadSiteimage")  }}</div>
      </div>

      <div class="row row-margin">
        <div class="col-md-4 col-xs-12"><label>Uploaded Files</label></div>
        <div class="col-md-8 col-xs-12  ">
          {{#each item.siteimages as |siteimage index|}}
          <div class="col-xs-6 col-md-4 thumbnail   ">
            {{#light-box href=siteimage.fullurl data-lightbox="cats-group" data-title=siteimage.description inlineImage=false}}
            <img src="{{siteimage.thumburl}}" >
            {{/light-box}}
            <div class="caption">
              <p>{{siteimage.description}}</p>
              <p class="text-center">
                <a href="{{siteimage.fullurl}}" target="_blank">
                <button type="button" class="btn btn-default"  >
                  <span class="glyphicon glyphicon-download" ></span>
                </button>
                </a>
                <button type="button" class="btn btn-default"   {{action "deleteSiteimage" siteimage}} >
                  <span class="glyphicon glyphicon-trash" ></span>
                </button>
              </p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

  </div>
</div>
</div>

{{/each}}

{{outlet}}
