projects/project(slug)/quotation-form page


<div class="row">
	<div class="col-md-12">

		<div class="form-group">

			<label for="">
				Dated:
			</label>
			{{bootstrap-datepicker value=project.quotation.date class="form-control" autoclose=true placeholder="Quotation Date" format="dd MM, yyyy"}}
		</div>


		<div class="form-group">
			<label for="">
				Addresse
			</label> <br>
			<label>{{project.customer.name}}</label>
		</div>

		<div class="form-group">
			<label for="">
				Subject:
			</label>
			{{ input type="text" class="form-control"  placeholder="Subject." value=project.quotation.subject}}
		</div>
		<div class="form-group">
			<label for="">
				Body:
			</label>
		<p>
{{textarea value=project.quotation.body class="form-control"}}
		</p>
	</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>
						Sl.No.
					</th>
					<th>
						Scope of Work
					</th>
					<th>
						Unit
					</th>
					<th>
						Rate
					</th>
					<th>
						Amount
					</th>
				</tr>
			</thead>
			<tbody>

				{{#each project.items as |item index|}}
				<tr>
					<td>
						{{incrementone index }}
					</td>
					<td>


						<strong>Dimensions:</strong> {{item.dimensions}}<br>
						<strong>Description: </strong>{{item.description}}<br>

					</td>
					<td>
						{{ input type="text" class="form-control"  placeholder="Subject." value=item.unit}}

					</td>
					<td>
						{{ input type="text" class="form-control"  placeholder="Subject." value=item.rate}}
					</td>
					<td>
						{{ input type="text" class="form-control"  placeholder="Subject." value=item.amount}}
					</td>
				</tr>

				{{/each}}


			</tbody>
		</table>

		<div class="col-md-12 well" >
		<address>
	 <strong>Payment:</strong>  60% Advance balance 40%  up on completion.<br />
	  <strong>Delivery :</strong>With in 30 days from the date of confirmation and advance payment<br />
	  <strong>Power :</strong>With in 30 days from the date of confirmation and advance payment<br />
	  <strong>Store :</strong>With in 30 days from the date of confirmation and advance payment<br />
		<strong>Note :</strong>With in 30 days from the date of confirmation and advance payment<br />
	</address>
	</div>




	<button type="button" class="btn btn-primary "  {{action "saveQuotation"}} >
		<span class="glyphicon glyphicon-floppy-save"> SAVE QUOTATION</span>
	</button>
	<button type="button" class="btn btn-primary "  {{action "printQuotation"}} >
		<span class="glyphicon glyphicon-print"> PRINT QUOTATION</span>
	</button>


	</div>
</div>


{{outlet}}
