From Agents page


<div class="col-md-4">
  <div class="list-group">

    <div class="list-group-item">

      <!-- {{input type="text" class="new-band form-control" placeholder="New band" value=name}} -->
      <!-- <button class="btn btn-primary btn-sm new-band-button" disabled={{isAddButtonDisabled}}  {{action "createBand"}}>Add</button> -->

    </div>
    {{#each model as |agent|}}
    {{#link-to "agents.agent" agent class="list-group-item "}}
    {{agent.name}}
    <span class="pointer glyphicon"></span>
    {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
