
<div class="app-bar fixed-top " data-role="appbar">

  {{#link-to  'application' class="app-bar-element branding"}}
   <img src="images/signlab_logo_200x50.png" alt="Logo">
   {{/link-to}}
  <span class="app-bar-divider"></span>
  <ul class="app-bar-menu">
    <li data-flexorderorigin="0" data-flexorder="1">
      <a href="" class="dropdown-toggle">Projects</a>
      <ul class="d-menu" data-role="dropdown">
        <li>{{link-to 'All Projects' 'dashboard.projects.home' }}</li>
        <li>{{link-to 'New Project' 'dashboard.projects.new' }}</li>
      </ul>
    </li>
    <li data-flexorderorigin="1" data-flexorder="2">
      <a href="" class="dropdown-toggle">Customers</a>
      <ul class="d-menu" data-role="dropdown">
        <li>{{link-to 'All Customers' 'dashboard.customers' }}</li>
        <li>{{link-to 'New Customer' 'dashboard.customers.new' }}</li>
      </ul>
    </li>
    <li data-flexorderorigin="2" data-flexorder="3">
      <a href="" class="dropdown-toggle">Agents</a>
      <ul class="d-menu" data-role="dropdown">
        <li>{{link-to 'All Agents' 'dashboard.agents' }}</li>
        <li>{{link-to 'New Agent' 'dashboard.agents.new' }}</li>
      </ul>
    </li>
  </ul>

  <div class="app-bar-element place-right">

    <span class="dropdown-toggle"><span class="mif-cog"></span> {{userEmail}}</span>
    <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown"  style="width: 220px">

      <ul class="unstyled-list fg-dark">
       <li {{action "logout"}}>
         {{#paper-button    }}
         {{paper-icon icon="power-settings-new"}} Logout
         {{/paper-button}}
       </li>
         </ul>
    </div>
  </div>
  <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar hidden app-bar-menu"></ul></nav>
</div>

<div class="page-content">


  <div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row row-margin" style="height: 100%">
  {{outlet}}
    </div>
  </div>

</div>
