<div class="row row-margin">
  <div class="col-md-2">
    <label for="" class="labels">Customer</label>
  </div>
  <div class="col-md-8">
    {{ember-select-guru value=project.customer  options=customers onSelect=(action "onSelectCustomer") }}
  </div>
  <div class="col-md-2">
    {{#paper-button primary=true   raised=true   action="openCustomerComponent"}}
    <span class="glyphicon {{if showCustomerComponent "glyphicon-minus" "glyphicon-plus"}} "></span>
    {{/paper-button}}
    {{#paper-button primary=true   raised=true   action="saveProject"}}
    {{paper-icon icon="save"}}
    {{/paper-button}}
  </div>
</div>
<div class="row">

    <div class="col-md-10 pull-right">
      {{#liquid-spacer growDuration=250}}
      {{#if showCustomerComponent}}
      {{#paper-card}}
      {{#paper-card-content}}
      <h3> Create New Customer</h3>
      <div class="col-md-10">
        <div class="row row-margin">
          {{paper-input label="Customer Name" required=true value=custname icon="person"  required-errortext="Customer name is required."}}
        </div>
        <div class="row row-margin">
          {{paper-input label="Customer contact Name"  value=custcontactname icon="person"}}
        </div>
        <div class="row row-margin">
          {{paper-input label="Customer contact number"  value=custcontactno icon="phone"}}
        </div>
        <div class="row row-margin">
          {{paper-input label="Other contact number"  value=custothcontactno icon="phone"}}
        </div>
        <div class="row row-margin">
          {{paper-input label="Other reference details"  value=custothrefdetails icon="place"}}
        </div>
      </div>
      <div class="col-md-2 "style="padding-top:10px">
        {{#paper-button primary=true   raised=true disabled=isCreateCustomerButtonDisabled   action="createCustomer"}}
        {{paper-icon icon="save"}}
        {{/paper-button}}
      </div>
      {{/paper-card-content}}
      {{/paper-card}}
      {{/if}}
      {{/liquid-spacer}}
    </div>

</div>

<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-10">
      {{#liquid-if enableEditCustomer class="customer-info"  }}

      {{#paper-list}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
        {{paper-input label="Customer Name" required=true value=project.customer.name icon="person"  required-errortext="Customer name is required."}}
        </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
        {{paper-input label="Customer contact Name"  value=project.customer.contactname icon="person"}}
        </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
        {{paper-input label="Customer contact number"  value=project.customer.contactno icon="phone"}}
        </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
        {{paper-input label="Other Contact number"  value=project.customer.othrefdetails icon="phone"}}
        </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
        {{paper-input label="Other Reference Details"  value=project.customer.othrefdetails icon="place"}}
        </div>
      {{/paper-item}}
      {{/paper-list}}

      {{else}}

      {{#paper-list}}

           {{#paper-item class="md-3-line"}}
             {{paper-icon icon="person"}}
             <div class="md-list-item-text">
              <h3>Client Name</h3><p>{{project.customer.name}}</p>
             </div>
           {{/paper-item}}


           {{#paper-item class="md-3-line"}}
             {{paper-icon icon="person"}}
             <div class="md-list-item-text">
              <h3>Client Contact Name</h3><p>{{project.customer.contactname}}</p>
             </div>
           {{/paper-item}}

           {{#paper-item class="md-3-line"}}
             {{paper-icon icon="phone"}}
             <div class="md-list-item-text">
               <h3>Client Contact No</h3><p>{{project.customer.contactno}}</p>
             </div>
           {{/paper-item}}

           {{#paper-item class="md-3-line"}}
             {{paper-icon icon="phone"}}
             <div class="md-list-item-text">
               <h3>Other Contact No</h3><p>{{project.customer.othcontactno}}</p>
             </div>
           {{/paper-item}}

           {{#paper-item class="md-3-line"}}
             {{paper-icon icon="place"}}
             <div class="md-list-item-text">
               <h3>Other Reference Details</h3><p>{{project.customer.othrefdetails}}</p>
             </div>
           {{/paper-item}}

       {{/paper-list}}


      {{/liquid-if}}
    </div>
    <div class="col-md-2">
      {{#if enableEditCustomer }}
      {{#paper-button primary=true   raised=true disabled=isEditCustomerButtonDisabled   action="editCustomer"}}
      <span class="glyphicon {{if enableEditCustomer "glyphicon-floppy-save" "glyphicon-pencil"}} "></span>
      {{/paper-button}}
      {{else}}
      {{#paper-button primary=true   raised=true   action="editCustomer"}}
      <span class="glyphicon {{if enableEditCustomer "glyphicon-floppy-save" "glyphicon-pencil"}} "></span>
      {{/paper-button}}

      <br><br>
      {{#paper-button primary=true   raised=true   action="deleteData"}}
      {{paper-icon icon="delete"}}
      {{/paper-button}}

      {{/if}}
    </div>

  </div>
</div>
