<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-10">
      {{#each project.items as |item index|}}
      <h3> Item {{ incrementone index}}</h3>
      {{#paper-card}}
      {{#paper-card-content}}
      {{#paper-list}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input   label="Design Specification" value=item.designspecifications icon="event-note" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input   label="Design Notes" value=item.designnotes icon="extension" }}
      </div>
      {{/paper-item}}

      {{file-upload item=item designimages=item.designimages    on-upload=(action "uploadDesignimage")}}

      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <div class="row row-margin">
          <div class="col-md-4 col-xs-12"><label>Uploaded Files</label></div>
          <div class="col-md-8 col-xs-12  ">
            {{#each item.designimages as |designimage index|}}
            <div class="col-xs-6 col-md-4 thumbnail   ">
              {{#light-box href=designimage.fullurl data-lightbox="cats-group" data-title=designimage.description inlineImage=false}}
              <img src="{{designimage.thumburl}}" >
              {{/light-box}}
              <div class="caption">
                <p class="text-center">
                  <a href="{{designimage.fullurl}}" target="_blank">
                    <button type="button" class="btn btn-default"  >
                      <span class="glyphicon glyphicon-download" ></span>
                    </button>
                  </a>
                  <button type="button" class="btn btn-default"   {{action "deleteDesignimage" designimage}} >
                    <span class="glyphicon glyphicon-trash" ></span>
                  </button>
                </p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/paper-item}}
      {{/paper-list}}
      {{/paper-card-content}}
      {{/paper-card}}
      {{/each}}
    </div>

    <div class="col-md-1">
      {{#paper-button primary=true   raised=true disabled=isEditAgentButtonDisabled   action="saveDesigndetails"}}
      {{paper-icon icon="save"}}
      {{/paper-button}}
    </div>
  </div>
</div>
