<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-10">
      {{#each project.items as |item index|}}
      <h3> Item {{ incrementone index}}</h3>
      {{#paper-card}}
      {{#paper-card-content}}
      {{#paper-list}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input   label="Design Specification" value=item.designspecifications icon="event-note" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input   label="Design Notes" value=item.designnotes icon="extension" }}
      </div>
      {{/paper-item}}

      {{file-upload item=item designimages=item.designimages    on-upload=(action "uploadDesignimage")}}
      {{#if imageUploading }}
      <div class="loading-pane">
        <div class="loading-message">
          Uploading Image
        </div>
            <div data-role="preloader" data-type="ring" data-style="dark"></div>
      </div>
      {{else}}
      {{/if}}

      <div class="tile-container ">
        {{#each item.designimages as |designimage index|}}
        <div class="tile">
          <div class="tile-content slide-up">
            <div class="slide">
              {{#light-box href=designimage.fullurl data-lightbox="cats-group" data-title=designimage.description inlineImage=false}}
              <img src="{{designimage.thumburl}}">
              {{/light-box}}
            </div>
            <div class="slide-over op-cyan text-small padding10">
              <p class="text-center">
                <a href="{{designimage.fullurl}}" target="_blank">
                  <button class="button primary">
                    <span class="glyphicon glyphicon-download" ></span>
                  </button>
                </a>
                {{async-button designimage action="deleteDesignimage" default="Delete"  pending="Deleting.." class="button success block-shadow-success text-shadow small-button"}}
              </p>
            </div>
          </div>

        </div>
        {{/each}}
      </div>

      {{/paper-list}}
      {{/paper-card-content}}
      {{/paper-card}}
      {{/each}}
    </div>

    <div class="col-md-1">
      {{#paper-button primary=true   raised=true disabled=isEditAgentButtonDisabled   action="saveDesigndetails"}}
      {{paper-icon icon="save"}}
      {{/paper-button}}
    </div>
  </div>
</div>
