<div class="row">
  <div class="col-md-10">
    {{paper-input label="Project Name" required=true value=project.name icon="description" required-errortext="Project Name is required."}}




    <div class="enq-form">

  <div class="row row-margin">

    <div class="col-md-2">
      <label for="" class="labels">Customer</label>
    </div>
    <div class="col-md-8">
      {{ember-select-guru value=project.customer  options=customers onSelect=(action "onSelectCustomer") }}
    </div>
    <div class="col-md-2">

    <button class="button ht primary"  {{action "openCustomerComponent"}}>
    <span class="glyphicon {{if showCustomerComponent "glyphicon-minus" "glyphicon-plus"}} "></span>
  </button>


    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>

      <div class="col-md-10 pull-right">
        {{#liquid-spacer growDuration=250}}
        {{#if showCustomerComponent}}
        {{#paper-card}}
        {{#paper-card-content}}

        <h3> Create New Customer</h3>
        <div class="col-md-10">
          <div class="row row-margin">
            {{paper-input label="Customer Name"  class="fullwidth" required=true value=custname icon="person"  required-errortext="Customer name is required."}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Customer contact Name"  class="fullwidth"  value=custcontactname icon="person"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Customer contact number"  class="fullwidth" value=custcontactno icon="phone"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Other contact number" class="fullwidth"  value=custothcontactno icon="phone"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Other reference details"  class="fullwidth" value=custothrefdetails icon="place"}}
          </div>
        </div>
        <div class="col-md-2 "style="padding-top:10px">
          {{#paper-button primary=true   raised=true disabled=isCreateCustomerButtonDisabled   action="createCustomer"}}
          {{paper-icon icon="save"}}
          {{/paper-button}}
        </div>
        {{/paper-card-content}}
        {{/paper-card}}
        {{/if}}
        {{/liquid-spacer}}
      </div>

  </div>
  <div class="row row-margin">
    <div class="col-md-2">
      <label for="" class="labels">Agent</label>
    </div>
    <div class="col-md-8">
      {{ember-select-guru value=project.agent  options=agents onSelect=(action "onSelectAgent") }}
    </div>
    <div class="col-md-2">
      <button class="button ht primary" {{action "openAgentComponent"}}>
      <span class="glyphicon {{if showAgentComponent "glyphicon-minus" "glyphicon-plus"}} "></span>
    </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
      <div class="col-md-10 pull-right " style="">
        {{#liquid-spacer growDuration=250}}
        {{#if showAgentComponent}}
        {{#paper-card}}
        {{#paper-card-content}}
        <h3> Create New Agent</h3>
        <div class="col-md-10">
          <div class="row row-margin">
            {{paper-input label="Agent Name" required=true value=agentname icon="person" class="fullwidth" required-errortext="Agent name is required."}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Agent contact Name"  class="fullwidth" value=agentcontactname icon="person"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Agent contact number"  class="fullwidth" value=agentcontactno icon="phone"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Other contact number"  class="fullwidth" value=agentothcontactno icon="phone"}}
          </div>
          <div class="row row-margin">
            {{paper-input label="Other reference details"  class="fullwidth" value=agentothrefdetails icon="place"}}
          </div>
        </div>
        <div class="col-md-2 "style="padding-top:10px">
          {{#paper-button primary=true   raised=true disabled=isCreateAgentButtonDisabled   action="createAgent"}}
          {{paper-icon icon="save"}}
          {{/paper-button}}
        </div>
        {{/paper-card-content}}
        {{/paper-card}}

        {{/if}}
        {{/liquid-spacer}}
      </div>

  </div>
  <div class="row row-margin">
      <div class="col-md-2">
        <label for="" class="labels">Date</label>
      </div>
      <div class="col-md-10 pickaday">
        {{pikaday-input value=project.enquiries.lastObject.date  format="DD-MM-YYYY" theme="form-input" }}
      </div>
  </div>
  <div class="row row-margin">
    <div class="col-md-12">
      {{paper-input label="Enquiry No" value=project.enquiries.lastObject.no icon="view-list"  }}
    </div>
  </div>
  <!-- //FIXME :    Site location variable not showing value -->


<div class="item-card">
  <h2 style="float:left">Items</h2>

  {{#each project.items as |item index|}}

  <div class="item-cards">

  <div class="md-actions" layout="row" layout-align="end center" style="float:right">
<button class="button delbtn primary" {{action "deleteItem" item}}>
<span class="glyphicon glyphicon-trash"></span>
</button>
  </div>

  <h2> Item {{ incrementone index}}</h2>
  <div class="md-list-item-text" style="margin:15px">
    {{paper-input label="Dimensions" value=item.dimensions icon="tune"  }}
    {{paper-input label="Description" value=item.description icon="assignment"  }}

    <div class="row row-margin">
      <div class="col-md-2">
        <label for=""style="margin-left:20px" class="labels">Item Type</label>
      </div>
      <div class="col-md-10" >
        {{ember-select-guru value=item.itemtype  options=itemtypes onSelect=(action "onSelectItemtypes" index) }}
      </div>
    </div>

    <div class="row row-margin">
      <div class="col-md-2">
        <label for=""style="margin-left:20px" class="labels">Job Type</label>
      </div>
      <div class="col-md-10">
        {{ember-select-guru value=item.jobtype  options=jobtypes onSelect=(action "onSelectJobtypes" index) }}
      </div>
    </div>
  </div>


</div>  {{/each}}




  <div class="md-actions" layout="row" layout-align="end center">
    <button class="button primary card-button" {{action "AddNewItem"}}>Click to add items
    <span class="glyphicon glyphicon-plus pull-right"></span>
  </button>
  </div>
</div>
</div>
</div>


  <!-- TODO: DELETE FUNCTION -->

</div>
<div class="fixed-buttons">
{{#paper-button primary=true raised=true class="fullwidth" disabled=isSaveProjectButtonDisabled action="saveProject" }}
{{paper-icon icon="save"}}  Save Project
{{/paper-button}}
{{#paper-button primary=true raised=true class="fullwidth" action="deleteProject" param=project}}
{{paper-icon icon="delete"}} Delete Project
{{/paper-button}}
</div>


{{outlet}}
