<div class="col-md-12">
  <div class="col-md-6">
  <div class="tile-group quadro ">

  <div class="tile-container">

    {{#if (or isAdmin isSecretary)}}
    {{#link-to 'dashboard.projects.project.enquiry-form' }}
    <div class="tile bg-teal fg-white" data-role="tile">
      <div class="tile-content iconic">
        <span class="icon mif-phone-forwarded"></span>
      </div>
      <span class="tile-label">Enquiry-form </span>
    </div>
    {{/link-to}}
    {{#link-to 'dashboard.projects.project.quotation-form' }}
    <div class="tile bg-darkGreen fg-white" data-role="tile">
      <div class="tile-content iconic">
        <span class="icon mif-dollars"></span>
      </div>
      <span class="tile-label">Quotation Form</span>
    </div>
    {{/link-to}}
    {{#link-to 'dashboard.projects.project.customer' }}
    <div class="tile bg-cyan fg-white" data-role="tile" >
      <div class="tile-content iconic">
        <span class="icon mif-user"></span>
      </div>
      <div class="tile-label">Customer Form</div>
    </div>
    {{/link-to}}
    {{#link-to 'dashboard.projects.project.agent' }}
    <div class="tile bg-darkBlue fg-white" data-role="tile" >
      <div class="tile-content iconic">
        <span class="icon mif-user"></span>
      </div>
      <span class="tile-label">Agent Form</span>
    </div>
    {{/link-to}}
    {{/if}}


      {{#if (or isAdmin isSiteworker)}}
      {{#link-to 'dashboard.projects.project.job' }}
      <div class="tile bg-cyan fg-white" data-role="tile" >
        <div class="tile-content iconic">
          <span class="icon mif-hammer"></span>
        </div>
        <div class="tile-label">Site Details</div>
      </div>
      {{/link-to}}
      {{/if}}
      {{#if (or isAdmin isDesigner)}}
      {{#link-to 'dashboard.projects.project.design' }}
      <div class="tile bg-orange fg-white" data-role="tile" >
        <div class="tile-content iconic">
          <span class="icon mif-image"></span>
        </div>
        <div class="tile-label">Design Details</div>
      </div>
      {{/link-to}}
      {{/if}}

    </div>
  </div>
</div>

<<<<<<< HEAD
  <div class="row col-md-12">
----- Project Changes--------
{{#each project.versions as |version|}}
{{version.whodunnit}}
{{#each-in version.changeset as |key changesetscontents|}}
{{#if (not-eq key "updated_at")}}
  Updated {{key}}
  From {{changesetscontents.firstObject}} To {{changesetscontents.lastObject}}
      {{/if}}

{{/each-in}}
 {{moment-from-now version.created_at}}<br>
{{/each}}
----------------------------<br>
--------quotation Changes-------
{{#each project.quotation.versions as |version|}}
{{version.whodunnit}}
{{#each-in version.changeset as |key changesetscontents|}}
{{#if (not-eq key "updated_at")}}
  Updated {{key}}
  From {{changesetscontents.firstObject}} To {{changesetscontents.lastObject}}<br>
      {{/if}}

{{/each-in}}
{{moment-from-now version.created_at}}<br><br>
{{/each}}
-----------------------------<br>
------Enquiry Changes---------

{{#each project.enquiry.versions as |version|}}
{{version.whodunnit}}
{{#each-in version.changeset as |key changesetscontents|}}
{{#if (not-eq key "updated_at")}}
  Updated {{key}}
  From {{changesetscontents.firstObject}} To {{changesetscontents.lastObject}}<br>
      {{/if}}

{{/each-in}}
{{moment-from-now version.created_at}}<br><br>
{{/each}}

-----------------------------<br>
Item Changes

{{#each project.items as |item|}}
{{#each item.versions as |version|}}
{{version.whodunnit}}
{{#each-in version.changeset as |key changesetscontents|}}
{{#if (not-eq key "updated_at")}}
  Updated {{key}}
  From {{changesetscontents.firstObject}} To {{changesetscontents.lastObject}}<br>
      {{/if}}

{{/each-in}}
{{moment-from-now version.created_at}}<br><br>
{{/each}}
{{/each}}



  </div>


  <div class="tile-container col-md-12">


=======
  <div class="col-md-6">
>>>>>>> 02250ef10eeef51d3bfb62aec06ef7477f07ed82
    <div class="panel collapsible collapsed" data-role="panel">
                            <div class="heading">
                                <span class="icon mif-wrench"></span>
                                <span class="title">Advanced Settings</span>
                            </div>
                            <div class="content padding10">
                              <div class="row row-margin">
                                  <div class="col-md-2">
                                    <label for="" class="labels">Project Status</label>
                                  </div>
                                  <div class="col-md-10 pickaday">
                                    <select onchange={{action "selectStatus" value="target.value"}} class="form-control">
                                      {{#each statuses as |statusChoice|}}
                                      <option value={{statusChoice}} selected={{eq project.status statusChoice}}>{{statusChoice}}</option>
                                      {{/each}}
                                    </select>
                                  </div>
                              </div>

                              <div class="row row-margin">
                                  <div class="col-md-2">
                                    <label for="" class="labels">Due Date</label>
                                  </div>
                                  <div class="col-md-10 pickaday">
                                    {{pikaday-input value=project.duedate  format="DD-MM-YYYY" theme="form-input" }}
                                  </div>

                              </div>
                              <div class="row row-margin">
                                <div class="col-md-2">
                                {{async-button  action="saveProject" default="Save"  pending="Saving.." class="button success block-shadow-success text-shadow small-button"}}
                              </div>
                              </div>

                            </div>




                        </div>


  </div>

</div>


  <div class="tile-container col-md-12">
    <div class="chat-panel panel panel-default ">
      <div class="heading">
          <span class="icon mif-history"></span>
          <span class="title">Recent Changes </span>
      </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="chat">
                                  {{#each project.versions as |version|}}
                                    <li class="log-items">
                                        <div class="log-body">
                                            
                                            {{#each-in version.changeset as |key changesetscontents|}}

                                              {{#if (not-eq key "updated_at")}}
                                              <label class="log-date" >{{version.created_at }} </label>
                                            <label class="log-label" style="float:left"> ::  {{version.whodunnit}} &nbsp;</label>

                                              <label> Updated {{key}} From </label>
                                              <label class="lbl-red">{{changesetscontents.firstObject}}</label>
                                               <label>To</label>
                                              <label class="lbl-grn">{{changesetscontents.lastObject}}</label>
                                              <label class="log-ago">-{{moment-from-now version.created_at}}<br></label>

                                                  {{/if}}
                                                  <br>
                                            {{/each-in}}


                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>





  </div>
