


<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-10">

      {{#each project.items as |item index|}}
      <h3> Item {{ incrementone index}}</h3>
      {{#paper-card}}
      {{#paper-card-content}}
      {{#paper-list}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Site survey details"  value=item.surveydetails icon="event-note" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Technique to Install"  value=item.technique icon="extension" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Material Requierd"  value=item.material icon="filter-hdr" }}
      </div>
      {{/paper-item}}

      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Team Allotment"  value=item.team icon="directions-walk" }}
      </div>
      {{/paper-item}}

      {{#paper-item class="md-3-line"}}
      <div class="row row-margin">
       <div class="col-md-4 col-xs-12"><label>Uploaded Files</label></div>
       <div class="col-md-8 col-xs-12  ">
         {{#each item.siteimages as |siteimage index|}}
         <div class="col-xs-6 col-md-4 thumbnail   ">
           {{#light-box href=siteimage.fullurl data-lightbox="cats-group" data-title=siteimage.description inlineImage=false}}
           <img src="{{siteimage.thumburl}}" >
           {{/light-box}}
           <div class="caption">
             <!-- <p>{{siteimage.description}}</p> -->
             <p class="text-center">
               <a href="{{siteimage.fullurl}}" target="_blank">
               <button type="button" class="btn btn-default"  >
                 <span class="glyphicon glyphicon-download" ></span>
               </button>
               </a>
               <button type="button" class="btn btn-default"   {{action "deleteSiteimage" siteimage}} >
                 <span class="glyphicon glyphicon-trash" ></span>
               </button>
             </p>
           </div>
         </div>
         {{/each}}
       </div>
     </div>
     {{/paper-item}}

     
      {{/paper-list}}
      {{/paper-card-content}}
      {{/paper-card}}
      {{file-upload item=item siteimages=item.siteimages    on-upload=(action "uploadSiteimage")  }}

      {{/each}}
    </div>



    <div class="col-md-1">
      {{#paper-button primary=true   raised=true disabled=isEditAgentButtonDisabled   action="saveJobdetails"}}
      {{paper-icon icon="save"}}
      {{/paper-button}}
    </div>
  </div>
</div>
