<div class="container-fluid">
  <div class="row row-margin">
    <div class="col-md-10">

      {{#each project.items as |item index|}}
      <h3> Item {{ incrementone index}}</h3>
      {{#paper-card}}
      {{#paper-card-content}}
      {{#paper-list}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Site survey details"  value=item.surveydetails icon="event-note" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Technique to Install"  value=item.technique icon="extension" }}
      </div>
      {{/paper-item}}
      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Material Requierd"  value=item.material icon="filter-hdr" }}
      </div>
      {{/paper-item}}

      {{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        {{paper-input label="Team Allotment"  value=item.team icon="directions-walk" }}
      </div>
      {{/paper-item}}

      {{file-upload item=item siteimages=item.siteimages  on-upload=(action "uploadSiteimage")}}
      {{#if imageUploading }}
      <div class="loading-pane">
        <div class="loading-message">
          Uploading Image
        </div>
        <div class="spinner"></div>
      </div>
      {{else}}
      {{/if}}



      <div class="tile-container ">
        {{#each item.siteimages as |siteimage index|}}
        <div class="tile">
          <div class="tile-content slide-up">
            <div class="slide">
              {{#light-box href=siteimage.fullurl data-lightbox="cats-group" data-title=siteimage.description inlineImage=false}}
              <img src="{{siteimage.thumburl}}">
              {{/light-box}}
            </div>
            <div class="slide-over op-cyan text-small padding10">
              <p class="text-center">
                <a href="{{siteimage.fullurl}}" target="_blank">
                  <button class="button primary">
                    <span class="glyphicon glyphicon-download" ></span>
                  </button>
                </a>
                {{async-button siteimage action="deleteSiteimage" default="Delete"  fulfilled="Saved" rejected="Cannot Save"pending="Deleting.." class="button danger block-shadow-success text-shadow small-button"}}
              </p>
            </div>
          </div>

        </div>
        {{/each}}
      </div>


      {{/paper-list}}
      {{/paper-card-content}}
      {{/paper-card}}


      {{/each}}
    </div>



    <div class="col-md-1">
      {{#paper-button primary=true   raised=true disabled=isEditAgentButtonDisabled   action="saveJobdetails"}}
      {{paper-icon icon="save"}}
      {{/paper-button}}
    </div>
  </div>
</div>
