<div class="row">
	<div class="col-md-12">

	<div class="row row-margin">
				<div class="col-md-2">
					<label for="" class="labels">Date</label>
				</div>
				<div class="col-md-10 pickaday">
					{{pikaday-input value=project.quotation.date  format="DD-MM-YYYY" theme="form-input" }}
				</div>
		</div>

		<div class="row row-margin">
			<label>{{project.customer.name}}</label>
		</div>
		<div class="row row-margin">
			{{paper-input label="Subject"  value=project.quotation.subject icon="assignment"}}
		</div>
		<div class="row row-margin">
			{{paper-input label="Body" attr-cols="10" attr-rows="10" value=project.quotation.body icon="insert-drive-file"}}
		</div>

		<table class="table table-bordered table-striped table-condensed table-responsive">
			<thead>
				<th>No.</th><th class="text-center">Scope of Work </th><th class="text-center">Unit</th><th class="text-center">Rate</th><th class="text-center">Amount</th>
			</thead>
			<tbody>
				{{#each project.items as |item index|}}
				<tr>
					<td>{{incrementone index}}</td>
					<td>
						<b>Dimensions:</b> {{item.dimensions}}<br>
						<b>Description:</b> {{item.description}}
					</td>
					<td>
						{{paper-input required=true value=item.unit required-errortext="Unit is required"}}
					</td>
					<td>
						{{paper-input required=true value=item.rate required-errortext="Rate is required"}}
					</td>
					<td>
						{{paper-input required=true value=item.amount required-errortext="Amount is required"}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>

		<div class="col-md-12 well" >
			<address>
				<strong>Payment:</strong>  60% Advance balance 40%  up on completion.<br />
				<strong>Delivery :</strong>With in 30 days from the date of confirmation and advance payment<br />
				<strong>Power :</strong>With in 30 days from the date of confirmation and advance payment<br />
				<strong>Store :</strong>With in 30 days from the date of confirmation and advance payment<br />
				<strong>Note :</strong>With in 30 days from the date of confirmation and advance payment<br />
			</address>
		</div>

		<div class="print_buttons">
			{{#paper-button primary=true   raised=true    action="saveQuotation"}}
			{{paper-icon icon="save"}}
			{{/paper-button}}

			{{#paper-button primary=true   raised=true    action="printQuotation"}}
			{{paper-icon icon="print"}}
			{{/paper-button}}
		</div>

	</div>
</div>


{{outlet}}
